html {
  align-items: center;
  background: #313131;
  color: #afafaf;
  display: flex;
  font: 22px monospace;
  height: 100%;
  justify-content: center;
  margin: 0;
}
body {
  display: flex;
  margin: 1em;
  padding: 1em;
}

h1 {
  color: #b19cd9;
  font-size: 3em;
  grid-column: 1 / -1;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #FCB4DC;
}

nav {
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr 1fr;
  margin: 0 1em;
  min-width: 24em;
  padding: 1em 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

li:first-child {
  font-weight: bold;
  line-height: 2em;
}
img {
  border: 2px solid #313131;
  height: auto;
  object-fit: cover;
  object-position: 50% 100%;
  width: 10em;
}
