@import url('file:///home/yowls/.cache/qtile.css');

body {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    display: flex;
}

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

a {
    color: var(--accent);
}

a:hover {
    text-decoration: underline;
    text-decoration-color: var(--alert);
    color: var(--alert);
}

.container {
    display: flex;
    justify-content: space-around;
    transform: translate(10%,20%);
    width: 70%;
    height: 70%;
}

.left-side{
    margin-top: 10%;
}

.right-side {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.header-time {
    color: var(--fg);
}
#time {
    font-size: 10em;
    font-family: "Londrina Solid";
    font-weight: bold;
}
#date {
    font-size: 2.5em;
    font-family: "Londrina Solid";
    font-weight: lighter;
}

.bookmarks {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    font-size: 2em;
    font-family: "Quicksand";
    font-weight: normal;
}
.bookmarks li {
    padding: 10px 0px;
}

.color1, .color2, .color3, .color4, .color5, .color6{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17%;
    font-size: 3em;
    font-family: "Quicksand";
    font-weight: normal;
    color: var(--bg);
    /* border-radius: 3px; */
}

.color1 {
    background-color: var(--color1);
}
.color2 {
    background-color: var(--color2);
}
.color3 {
    background-color: var(--color3);
}
.color4 {
    background-color: var(--color4);
}
.color5 {
    background-color: var(--color5);
}
.color6 {
    background-color: var(--color6);
}
